*{
    padding: 5px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Pixelify Sans', cursive;
    color: #f3e4e6;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #dadada;
}

.container-header{
    height: 100vh;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
        url(../img/fondo.jpg);
    background-size: cover;
}

.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #000000;
    position: fixed;
}

.header .title{
    padding: 15px;
    font-size: 2rem;
    color: #004e97;
    cursor: default;
    transition: all 200ms ease;
}

.header .title:hover{
    cursor: pointer;
    color: #33cc14;
    transition: all 200ms ease;
}

.header ul{
    display: flex;
    padding: 15px;
}

.header .section{
    padding: 10px;
    font-size: 1.2rem;
    transition: all ease 500ms;
}

.header .section a{
    color: #004e97;
}

.header .section a:hover{
    color: #33cc14;
    transition: all ease 200ms;
}

.main{
    display: flex;
    flex-direction: column;
    padding: 4vh;
    background-color: #000000;
}

.main .title{
    text-align: center;
    color: #004e97;
    font-size: 20vh;
}

.main .container-cat{
    display: flex;
    flex-direction: row;
}

.main .container-cat img{
    width: 100vh;
    height: 72vh;
}

.main .container-cat .aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
}

.main .container-cat p{
    color: #004e97;
    width: 75vh;
}

.main .botton{
    font-size: 1.5rem;
    color: #33cc14;
    background-color: #004e97;
    border: none;
    padding: 15px;
    text-transform: uppercase;
    transition: all 200ms ease;
}

.main .botton:hover{
    background-color: #33cc14;
    color: #004e97;
    transition: all 200ms ease;
}

.botton{
    cursor: pointer;
}

h2[id]{
    scroll-margin-top: 60px;
}